body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fef6f9;
}

header {
    background-color: #cdb4db;
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #ffafcc;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
}

.profil img {
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #a2d2ff;
}

/* Login */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffcdb2;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.login-box label {
    display: block;
    margin-top: 10px;
}

/* Logout */
.logout-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #bde0fe;
}

.logout-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
